/* Staff */
.staff-slide {
	position: relative;
	margin: 20px 0;
	background: none;
}

.staff-slide .ty-scroller-list__description {
	padding: 20px 0;
	font-size: 1em;
	line-height: 1.5;
	color: #333333;
}

.staff-slide .owl-prev,
.staff-slide .owl-next {
	position: absolute;
	top: 120px;
	left: 0;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid red;
	color: red;
	text-align: center;
	cursor: pointer;
	z-index: 100;
}

.staff-slide .owl-prev i,
.staff-slide .owl-next i {
	line-height: 20px;
}

.staff-slide .owl-next {
	left: auto;
	right: 0;
}

@media(min-width: 1300px) {
	.staff-slide .owl-prev {
		left: -40px;
	}
	.staff-slide .owl-next {
		right: -40px;
	}
}
/* /Staff */